<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>PyKids</title>
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <!--<img src="images/python.png" alt="PyKids Logo" class="logo">-->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
</header>
<section class="home-hero">
    <div class="container">
        <h1><strong>Contact</strong></h1>
        <h3><strong>Coming Soon!</strong></h3>
</section>
<footer>
    <nav>
        <ul>
            <li><a href="https://github.com/jbjulia/PyKids">source</a></li>
            <li><a href="https://github.com/jbjulia/PyKids/issues">issues</a></li>
            <li><a href="https://paypal.me/jbjulian">donate</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>