<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title>Splash</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="../static/fonts/ionicons.min.css" rel="stylesheet">
    <link href="../static/css/styles.min.css" rel="stylesheet">
</head>

<body>
<h1 class="text-center" style="margin: 150px;font-family: Quicksand, sans-serif;margin-bottom: 50px;margin-top: 100px;">
    Hooray, {{ g.user }}, you did it!</h1>
<div class="container text-center"><img src="../static/img/graduated.png" style="margin: 50px;"></div>
<div class="footer-basic" style="font-family: Quicksand, sans-serif;">
    <div class="container text-center" style="margin-bottom: 50px;">
        <button class="btn btn-primary" onclick="window.location.href = '/'" style="font-family: Quicksand, sans-serif;"
                type="button">&lt; Return to Login
        </button>
    </div>
    <footer class="text-center" style="font-family: Quicksand, sans-serif;">
        <div class="social"><a data-bs-tooltip="" data-toggle="tooltip"
                               href="https://github.com/jbjulia/SDEV300/tree/master/Project8"
                               title="View source code"><i class="icon ion-social-github"></i></a></div>
        <p class="copyright">Created by Joseph Julian © 2020</p>
    </footer>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/script.min.js"></script>
</body>

</html>